In [3]:
import pandas as pd

# Sample data
data = {
    'CustomerID': [12345, 12345, 12345, 67890, 67890],
    'InvoiceNo': [1, 2, 3, 4, 5],
    'StockCode': ['A', 'B', 'A', 'C', 'B'],
    'Quantity': [2, 3, -1, 1, -2],
    'InvoiceDate': ['2024-01-01', '2024-01-02', '2024-01-03', '2024-01-04', '2024-01-05'],
    'UnitPrice': [1.5, 2.0, 1.5, 3.0, 2.0]
}

# Create DataFrame
df = pd.DataFrame(data)
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])

# Calculate TotalPrice
df['TotalPrice'] = df['Quantity'] * df['UnitPrice']

print(df)

   CustomerID  InvoiceNo StockCode  Quantity InvoiceDate  UnitPrice  \
0       12345          1         A         2  2024-01-01        1.5
1       12345          2         B         3  2024-01-02        2.0
2       12345          3         A        -1  2024-01-03        1.5
3       67890          4         C         1  2024-01-04        3.0
4       67890          5         B        -2  2024-01-05        2.0

   TotalPrice
0         3.0
1         6.0
2        -1.5
3         3.0
4        -4.0

In [4]:
# Step 1: Group by CustomerID and InvoiceNo, sum the TotalPrice
temp = df.groupby(by=['CustomerID', 'InvoiceNo'], as_index=False)['TotalPrice'].sum()
basket_price = temp.rename(columns = {'TotalPrice':'Basket Price'})

# Step 2: Calculate the mean invoice date for each CustomerID and InvoiceNo combination
df['InvoiceDate_int'] = df['InvoiceDate'].astype('int64')
temp = df.groupby(by=['CustomerID', 'InvoiceNo'], as_index=False)['InvoiceDate_int'].mean()
df.drop('InvoiceDate_int', axis = 1, inplace = True)
basket_price.loc[:, 'InvoiceDate'] = pd.to_datetime(temp['InvoiceDate_int'])

# Step 3: Filter out entries with Basket Price less than or equal to 0
basket_price = basket_price[basket_price['Basket Price'] > 0]

# Step 4: Sort and display the results
basket_price.sort_values('CustomerID')[:6]

   CustomerID  InvoiceNo  Basket Price InvoiceDate
0       12345          1           3.0  2024-01-01
1       12345          2           6.0  2024-01-02
3       67890          4           3.0  2024-01-04

In [5]:
temp

   CustomerID  InvoiceNo  InvoiceDate_int
0       12345          1     1.704067e+18
1       12345          2     1.704154e+18
2       12345          3     1.704240e+18
3       67890          4     1.704326e+18
4       67890          5     1.704413e+18

In [ ]:
#____________________
# Décompte des achats
price_range = [0, 50, 100, 200, 500, 1000, 5000, 50000]
count_price = []
for i, price in enumerate(price_range):
    if i == 0: continue
    val = basket_price[(basket_price['Basket Price'] < price) &
                       (basket_price['Basket Price'] > price_range[i-1])]['Basket Price'].count()
    count_price.append(val)
#____________________________________________
# Représentation du nombre d'achats / montant        
plt.rc('font', weight='bold')
f, ax = plt.subplots(figsize=(11, 6))
colors = ['yellowgreen', 'gold', 'wheat', 'c', 'violet', 'royalblue','firebrick']
labels = [ '{}<.<{}'.format(price_range[i-1], s) for i,s in enumerate(price_range) if i != 0]
sizes  = count_price
explode = [0.0 if sizes[i] < 100 else 0.0 for i in range(len(sizes))]
ax.pie(sizes, explode = explode, labels=labels, colors = colors,
       autopct = lambda x:'{:1.0f}%'.format(x) if x > 1 else '',
       shadow = False, startangle=0)
ax.axis('equal')
f.text(0.5, 1.01, "Répartition des montants des commandes", ha='center', fontsize = 18);